<head>
<style>
  .container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 15px;
  padding-left: 15px;
}
  </style>
  </head>

  <body>
    <div class="container">
      <div class="image">
        <img alt="Nicholas T. Willis" src="{{ "/assets/img/Nicholas_T_Willis.jpg" | prepend: site.baseurl }}" />
      </div>
      <div class="text">
        <p> Nicholas T. Willis (PhD) is a data scientist with a specialization in  political research. He is experienced in the application of quantitative (R, Stata), qualitative, and mixed methods research. His research interests include: populism, voting behavior, and political parties, with a substantive focus on Western Europe. 
        </div>
      </p>
      </div>
      <a href="{{ "/assets/doc/Willis-Résumé.jpg" | prepend: site.baseurl }}" download="Willis - Résumé">Download Résumé</a>
      <a href="{{ "/assets/doc/Willis-Curriculum-Vitae.jpg" | prepend: site.baseurl }}" download="Willis - Curriculum Vitae">Download CV</a>
    </div>
  </body>
 