<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:ntwillis15@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/nicholas-t-willis-668767230"><i class="icon fa fa-linkedin"></i></a>
        <a aria-label="My OrCiD" target="_blank" href="https://orcid.org/0000-0003-3562-0536"><i class="fa-brands fa-orcid"f8d2;></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/SimplyWillis"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <a class="link" href="#experience" data-scroll>Education & Professional Experience</a>
        <a class="link" href="#projectsandpublications" data-scroll>Projects and Publications</a>
        <a class="link" href="#dissertation" data-scroll>Dissertation</a>
        <a class="link" href="#teachingexperience" data-scroll>Teaching</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
