<div class="user-details">
  <h1> Projects and Publications </h1>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Willis, N. T. & Indriðason, I. H. (2025). <i>No Hard Feelings? The Effects of Competition on Vote Transfers in Two-Round Elections. </i> French Politics 23 (2): xx-xx.   </h3>
  </div>
</div>
<div class="user-projects">
  <div class="contents">
    <h3> Willis, N. T. Ideological Convergence: Explaining Left and Right Populist Party Voter’s Behavior [Out for Submission]. Department of Political Science, University of California - Riverside.  </h3>
  </div>
</div>