<head>
  <style>
.teachcontainer {
  display: flex;
  align-items: center;
  column-gap: 25px;
  justify-content: center;
}
</style>
</head>

<h1> Teaching Experience </h1>

<div style="text-align: center;">
  <div style="display: inline-block; text-align: left; max-width: 800px;">
    <div class="teachcontainer">
      <h3>Primary Instructor</h3>  
        <p>Mass Media and Public Opinion
        </p>
        </div>
        <br>
        <div class="teachcontainer">
      <h3>Teaching Assistant</h3>
        <p>
Comparative Politics
<br>
World Politics
<br>
Politics of the Underdeveloped World
<br>
The Nation-State and Capitalism

        </p>
      </div>
    </div>  
  </div>
</div>