<head>
  <style>
.plain_list ul {
  list-style: none;
}
</style>
</head>

<h1> Teaching Experience </h1>

  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left; max-width: 800px;">
      <h3>Primary Instructor</h3>  
        <p>
<div class="plain_list">
          <ul>
            <li>Mass Media and Public Opinion</li>
          </ul>
        </p>
      <h3>Teaching Assistant</h3>
        <p>
          <ul>
            <li>Comparative Politics</li>
            <li>World Politics</li>
            <li>Politics of the Underdeveloped World</li>
            <li>The Nation-State and Capitalism</li>
          </ul>
        </p>
    </div>  
  </div>
</div>