<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="Education & Professional Experience">
        {% include experience.html %}
      </section>
      <section id="Projects & Publications">
        {% include projectsandpublications.html %}
      </section>
      <section id="Dissertation">
        {% include dissertation.html %}
      </section>
      <section id="Teaching">
        {% include teachingexperience.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
