<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="experience">
        {% include experience.html %}
      </section>
      <section id="projectsandpublications">
        {% include projectsandpublications.html %}
      </section>
      <section id="disseration">
        {% include dissertation.html %}
      </section>
      <section id="teachingexperience">
        {% include teachingexperience.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
